/* Main palette colors */
$russian-violet: rgba(33, 1, 67, 1);
$dark-slate-blue: rgba(67, 49, 139, 1);
$royal-purple: rgba(119, 76, 172, 1);
$purpureus: rgba(153, 86, 172, 1);
$pearly-purple: rgba(169, 97, 143, 1);
$russian-violet-100: rgba(33, 1, 67, 0.1);
$dark-slate-blue-100: rgba(67, 49, 139, 0.1);
$royal-purple-100: rgba(119, 76, 172, 0.1);
$purpureus-100: rgba(153, 86, 172, 0.1);
$pearly-purple-700: rgba(169, 97, 143, 0.7);
$russian-violet-700: rgba(33, 1, 67, 0.7);
$dark-slate-blue-700: rgba(67, 49, 139, 0.7);
$royal-purple-700: rgba(119, 76, 172, 0.7);
$purpureus-700: rgba(153, 86, 172, 0.7);
$pearly-purple-700: rgba(169, 97, 143, 0.7);

// text colors
$light-text: rgba(250, 249, 249, 1);

// overlay colors
$overlayStart: rgba(119, 76, 172, 0.9);
$overlayEnd: rgba(119, 76, 172, 0.7);
