@use '../palette.scss' as *;

.header {
  display: grid;
  grid-area: header;
  justify-items: end;
  align-items: center;
  margin: 0 10vw;
  height: 10vh;
}

.nav_wrapper {
  display: flex;
  align-items: flex-end;
}

.nav_item {
  color: $light-text;
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;

  &:not(:first-child) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1245px) {
  .header {
    margin: 0 5vh;
  }

  .nav_wrapper {
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    margin: 0;
  }

  .nav_wrapper {
    margin: 0.5rem auto;
  }
}
